html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
#temp {
  position:center ;
 
  left: 100%;
  margin-left: 0px;
  z-index: 5;
  background-color: #fff;
 
  border: 1px solid #999;
}